{% extends 'base.html.twig' %}

{% block title %}Hello!{% endblock %}

{% block body %}


    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Bienvenue!</h1>
            <p class="lead">Cette plateforme est dédiée à la gestion des tickets.</p>
            <a class="btn btn-primary btn-lg" href="/login" role="button">Se connecter</a>
            <a class="btn btn-primary btn-lg pl-4" href="/inscription" role="button">S'inscrire</a>
        </div>
    </div>


{% endblock %}
